.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Supprimer la couleur jaune de remplissage automatique d'un champs  */
input:-webkit-autofill {
  -webkit-text-fill-color: 'black';
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input:-moz-autofill {
  -moz-text-fill-color: 'black';
  -moz-box-shadow: 0 0 0px 1000px white inset;
}
input:-o-autofill {
  -o-text-fill-color: 'black';
  -o-box-shadow: 0 0 0px 1000px white inset;
}
input:-khtml-autofill {
  -khtml-text-fill-color: 'black';
  -khtml-box-shadow: 0 0 0px 1000px white inset;
}

input:focus:-webkit-autofill {
  -webkit-text-fill-color: 'black';
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input:focus:-moz-autofill {
  -moz-text-fill-color: 'black';
  -moz-box-shadow: 0 0 0px 1000px white inset;
}
input:focus:-o-autofill {
  -o-text-fill-color: 'black';
  -o-box-shadow: 0 0 0px 1000px white inset;
}
input:focus:-khtml-autofill {
  -khtml-text-fill-color: 'black';
  -khtml-box-shadow: 0 0 0px 1000px white inset;
}